@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/* ========= Resets and Housekeeping ========= */

body {
    background: #FFAFBD; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    font: normal 2.5em "Fredoka One";
    color: #9270bc;
    /*old color #7074bc*/
}

h2 {
    margin: 0;
    font: normal 1.8em "Fredoka One";
    color: #9270bc;
}

/* ========= Card =========  */

.card {
    position: relative;
    background: #fffafa;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.md {
    width: 350px;
    margin: 50px auto;
}

.mini-card {
    margin: 10px 0;
    flex-basis: 45%;
    padding: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .2);
}

.card p {
    margin: 0;
    font-size: 1em;
    color: rgba(0, 0, 0, .6);
}

/* ========= Text Input ========= */

input[type="text"].custom-input-text {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-family: inherit;
    color: rgba(0, 0, 0, .6);
    padding: 0.2em 0.6em;
    text-align: left;
    margin: 5px 0;
    width: 12em;
    border-radius: 30px;
    border: 2px solid #9270bc;
    background-color: #fffafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
}

input[type="text"].custom-input-text:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

input[type="text"].mini-input {
    width: calc(100% - 1.4em);
}

.custom-input-text-group {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
}

input[type="text"].custom-input-text + label.input-close {
    font-family: "Source Sans Pro", sans-serif;
    cursor: pointer;
    width: 1em;
    height: 1em;
    text-align: center;
    line-height: 1.2em;
    position: absolute;
    color: #fc7070;
    font-size: 2em;
}

input[type="text"].custom-input-text + label.input-close:before {
    content: '+';
    transform: rotate(45deg);
    display: block;
}

.custom-input-text-group:hover input[type="text"].custom-input-text + label.input-close {
    visibility: visible;
}

/* ========= Button ========= */

.custom-button {
    display: block;
    font-style: italic;
    cursor: pointer;
    border-radius: 30px;
    color: #9270bc;
    background-color: #fffafa;
    font-size: 1em;
    width: 5em;
    padding: 0.4em 0.8em;
    margin: 10px 0;
    border: 2px solid #9270bc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.custom-button:hover {
    color: #fffafa;
    background-color: #9270bc;
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* ========= Result Block ========= */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.result-span {
    font-size: 1.2em;
}

p.custom-modal-button {
    font-style: italic;
    font-size: 0.7em;
    cursor: pointer;
    text-decoration: underline;
}

p.custom-modal-button:hover {
    color: rgba(0, 0, 0, 0.8);
}

.custom-modal {
    visibility: hidden;
    position: absolute;
    width: 180px;
    opacity: 0;
    transition: opacity 0.5s 0s, visibility 0s 0.5s;
    top: 0;
    right: -50%;
    margin: 0;
}

.custom-modal .content {
    white-space: pre-line;
    font-size: .82em;
}

.is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s 0s, visibility 0s 0s;
}

.custom-modal label.modal-close {
    position: absolute;
    right: 5px;
    top: -2px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.2);
}

.custom-modal label.modal-close:hover {
    color: rgba(0, 0, 0, 0.4);
}

.result-div {
    display: none;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 8px;
}

/* ========= Tooltip ========= */

.tlp {}

.tlp .tooltip {
    display: none;
    position: absolute;
    width: 150px;
    margin: 0 auto;
    padding: 10px 10px;
    background: #96c1fd;
    color: #fffafa;
    font-size: 0.8em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    border-radius: 9px;
}

.tlp .tooltip.tlp-active {
    display: block;
}

.tlp .tooltip:after {
    content: "";
    position: absolute;
    left: 96%;
    bottom: 38%;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #96c1fd transparent transparent transparent;
    transform: rotate(-90deg);
}

.tlp .tooltip.md {
    bottom: 20%;
    right: 113%;
}

.tlp .tooltip.lg {
    left: -56%;
    bottom: -134%;
}

.tooltip-left:after {

}

.tooltip, .tooltip:after {
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}

.tlp:hover .tooltip, .tlp:hover .tooltip:after {
    opacity: 1;
    visibility: visible;
}

/* ========= Ribbon ========= */

.help-ribbon {
    position: absolute;
    left: 100%;
    width: 2.6em;
    padding: 3px 5px;
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
    background-color: #fdfd83;
    cursor: pointer;
    transition: 0.2s linear;
}

.help-ribbon.is-active {
    background-color: #fc7070;
    width: 4em;
}

.help-ribbon:hover {
    width: 4em;
}
